@{
    ViewBag.Title = "Escala";
}

<h2>Escalas</h2>

<p>
    <button type="button" class="btn btn-sm btn-secondary" onclick="Edita({})">
        <i class="fas fa-plus"></i> Novo
    </button>
</p>


<div id="ListaEscalas">
    Carregando ...
</div>

<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro Escala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="EditaEscala" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="Grava()">Gravar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover Escala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="RemoverEscalaId" />
                Tem certeza que deseja remover um registro da tabela Escala?<br />
                Nome: <span id="RemoverEscala"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fechar</button>
                <button type="button" class="btn btn-danger" onclick="Remove()">  Apagar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            Lista();
        });

        function Lista() {
            rsp.get(null, "/Escala/List/", (res) => {
                $("#ListaEscalas").html(res);
                $("#ListaEscalas .table").DataTable({
                    "pageLength": 100,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    /*"columns": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        { "sType": "date-pt" },
                        null
                    ],*/
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    }
                });
                setTimeout(()=>{
                    $("#DataTables_Table_0_wrapper .col-sm-12").css("overflow", "auto");
                },200);
            });


        }

        function Edita(item) {
            rsp.get(item, "/Escala/Edit/", (res) => {
                $("#EditaEscala").html(res);
                $("#modalEdit").modal('show');
                $("#modalEdit .alert").hide();
                //$(".cep").mask("00000-000");
                //$(".cnpj").mask("00.000.000/0000-00");
                //$(".phone").mask("(00)000000009");
            });
        }

        function Grava() {
            rsp.post("#EditaEscala", "/Escala/Save", (res) => {
                if (res == "ok") {
                    $("#modalEdit").modal('hide');
                    Lista();
                    showAlert("Escala gravado(a) com sucesso!", "alert-success");
                } else {
                    $("#modalEdit .alert").html(res);
                    $("#modalEdit .alert").show();
                }
            })
        }

        function DesejaRemover(id, nome) {
            $("#RemoverEscalaId").val(id);
            $("#RemoverEscala").html(nome);
            $("#modalDelete").modal('show');
        }

        function Remove() {
            rsp.post({ Cod_Comum }, "/Escala/Delete/" + $("#RemoverEscalaId").val(), (res) => {
                if (res == "ok") {
                    $("#modalDelete").modal('hide');
                    showAlert("Escala removido(a) com sucesso!", "alert-success");
                    Lista();
                } else {
                    showAlert(res, "alert-warning");
                }
            })
        }
    </script>
}


