@model GEM.Models.EscalaBuilder
@{
//Layout = null;
}

<div class="row noprint">
    <div class="col-md-12 form-group">
        <a class="btn btn-secondary" href="#" onclick="window.print()"><i class="fa fa-print"></i> Imprimir</a>
        <a class="btn btn-secondary" href="/Escala/Index"><i class="fa fa-back"></i> Voltar</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div><h4 class="text-center">CONGREGAÇÃO CRISTÃ NO BRASIL</h4>
             <h5 class="text-center">@(Model.Titulo)</h5></div>

        <div class="row">

            @foreach (var item in Model.ListaEscala().GroupBy(q => new {q.Data.Year, q.Data.Month}).ToList())
            {
                @await Html.PartialAsync("~/Views/Escala/VisualizarMes.cshtml", Model.BuildMes(item.Key.Month, item.Key.Year))
            }
        </div>
    </div>
</div>

@section Styles{
    <style type="text/css">
    hr{
        border: dotted 1px #ccc;
        margin: 3px 0;
    }
    .table td, .table th {
        font-size: 10pt;
    }
    .divdia{
        display: block;
        float: left;
    }

</style>


<style type="text/css" media="print">
    .container{
        margin: 0;
        max-width: 100%;
    }
    .card{
        border: none;
    }
    .table td {
        font-size: 8pt;
    }
</style>
}

@section Scripts{
    <script>
        function Ver(id){
            $(".itm_span").css("background-color","Transparent");
            $(".itm_span").css("font-weight","normal");

            $(".itm_"+id).css("background-color","yellow");
            $(".itm_"+id).css("font-weight","bold");
        }
    </script>
}