@using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Aviso";
    UserSession sessao = UserSession.Get(HttpContextAccessor.HttpContext);
    var DefaultComum = sessao.Usuario.Cod_Comum;
}

<h2>Avisos</h2>

@if(sessao.Admin){
    <div class="form-group col-sm-6">
        <label class="control-label">Comum Congregação</label>
        @await Html.PartialAsync("~/Views/Shared/_Combo.cshtml", new GEM.Models.Combo(){
            Class="form-control",
            Id="Comum",
            Name="Cod_Comum",
            OnChange="SelecionaComum(this)",
            Items=GEM.Repository.Comum.List().Select(e=>new ComboItem(){Text=e.Nome,Value=e.Cod_Comum.ToString()}).ToList(),
            SelectedItem=(ViewBag.Cod_Comum != null ? ViewBag.Cod_Comum.ToString() : DefaultComum.ToString())
        })
    </div>  
}

@if(sessao.Instrutor){
    <p>
        <button type="button" class="btn btn-sm btn-secondary" onclick="Edita({})">
            <i class="fas fa-plus"></i> Novo
        </button>
    </p>
}

<div id="ListaAvisos">
    Carregando ...
</div>

@if(sessao.Instrutor){
    <!-- Modal -->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cadastro Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="EditaAviso" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="Grava()">Gravar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remover Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="RemoverAvisoId" />
                    Tem certeza que deseja remover um registro da tabela Aviso?<br />
                    Nome: <span id="RemoverAviso"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fechar</button>
                    <button type="button" class="btn btn-danger" onclick="Remove()">  Apagar</button>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts{
    <script type="text/javascript">
        let Cod_Comum = @(DefaultComum);
        $(document).ready(() => {
            Lista();
        });

        function SelecionaComum(e){
            Cod_Comum = $(e).val();
            Lista();
        }

        function Lista() {
            rsp.get({ Cod_Comum }, "/Aviso/List/", (res) => {
                $("#ListaAvisos").html(res);
                $("#ListaAvisos .table").DataTable({
                    "bSort" : false,
                    "pageLength": 100,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    /*"columns": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        { "sType": "date-pt" },
                        null
                    ],*/
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    }
                });
                setTimeout(()=>{
                    $("#DataTables_Table_0_wrapper .col-sm-12").css("overflow", "auto");
                },200);
            });


        }

        function Edita(item) {
            rsp.get(item, "/Aviso/Edit/", (res) => {
                $("#EditaAviso").html(res);
                $("#modalEdit").modal('show');
                $("#modalEdit .alert").hide();
                //$(".cep").mask("00000-000");
                //$(".cnpj").mask("00.000.000/0000-00");
                //$(".phone").mask("(00)000000009");
            });
        }

        function Grava() {
            rsp.post("#EditaAviso", "/Aviso/Save", (res) => {
                if (res == "ok") {
                    $("#modalEdit").modal('hide');
                    Lista();
                    showAlert("Aviso gravado(a) com sucesso!", "alert-success");
                } else {
                    $("#modalEdit .alert").html(res);
                    $("#modalEdit .alert").show();
                }
            })
        }

        function DesejaRemover(id, nome) {
            $("#RemoverAvisoId").val(id);
            $("#RemoverAviso").html(nome);
            $("#modalDelete").modal('show');
        }

        function Remove() {
            rsp.post({ Cod_Comum }, "/Aviso/Delete/" + $("#RemoverAvisoId").val(), (res) => {
                if (res == "ok") {
                    $("#modalDelete").modal('hide');
                    showAlert("Aviso removido(a) com sucesso!", "alert-success");
                    Lista();
                } else {
                    $("#modalDelete").modal('hide');
                    showAlert(res, "alert-warning");
                }
            })
        }
    </script>
}


