@{
    Layout = "~/Views/Shared/_Layout.anonymous.cshtml";
}
    <p>
        Sessão expirada!<br />
        <a href="/Home/Login">Clique aqui para acessar novamente!</a>
    </p>

<script>
    window.location.href = "/Home/Index";
</script>
