
@{
    ViewData["Title"] = "Contato";
    Layout = "~/Views/Shared/_Layout.anonymous.cshtml";
}

<h1>Contato</h1>

<p>Devido o encerramento das atividades e cultos no estado de São Paulo, temporariamente 
    para solicitar troca de senha ou alteração de cadastro, entre em contato diretamente com o desenvolvedor 
    pelo e-mail abaixo.</p>

<p><a href="mailto:jricksam@gmail.com">jricksam@gmail.com</a> </p>

<p>Deus te abençoe pela compreensão</p>

<p><a href="https://musicosccb.azurewebsites.net/Home/Login">Clique aqui para voltar para o login</a></p>
