
@{
    ViewData["Title"] = "Contato";
    Layout = "~/Views/Shared/_Layout.anonymous.cshtml";
}

<h1>Contato</h1>

<p>
    Devido o encerramento das atividades do GEM e cultos no estado de São Paulo, a equipe de desenvolvimento decidiu
    desligar alguns serviços do sistema músicos CCB, este desligamento afetam as seguintes funções do sistema: <br />
    - solicitação ou troca de senha <br />
    - criação, alteração ou transferência do cadastro da conta <br />
    - comunicação via fale conosco <br />

    Para as funções acima solicitamos que entre em contato diretamente com o desenvolvedor
    pelo e-mail ou via whatsapp abaixo:
</p>

<p>E-mail: <a href="mailto:jricksam@gmail.com">jricksam@gmail.com</a> </p>
<p>Whatsapp: <a href="//wa.me/5515981270060">(15) 98127-0060</a> </p>

<p>Deus te abençoe pela compreensão</p>

<p><a href="https://musicosccb.azurewebsites.net/Home/Login">Clique aqui para voltar para o login</a></p>
