<div class="row">
    <div class="col-md-12">
        <form action="/Home/FaleConosco" method="POST">
            <div class="form-group">
                <label>Digite sua mensagem no campo abaixo e clique em enviar</label>
                <textarea name="Mensagem" rows="8" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>        
    </div>
</div>