@{
    ViewBag.Title="CCB";
    Layout = "~/Views/Shared/_Layout.anonymous.cshtml";
}

<div class="row justify-content-md-center">
    <form class="form-signin col-sm-4" action="/Home/EnviarSenha" method="post" onsubmit="ShowSpinner()">
        <h1><br />Músicos CCB</h1>
        <div class="form-group">
            <label>Informe o endereço de e-mail para recuperação da senha</label>
            <label for="inputEmail" class="sr-only">Endereço de Email</label>
            <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Endereço de Email" required autofocus>
        </div>

        <button class="btn btn-lg btn-primary btn-block form-group" type="submit">Enviar senha</button>
    </form>
</div>