
@{
    ViewBag.Title="CCB";
    Layout = "~/Views/Shared/_Layout.anonymous.cshtml";
}

<div class="row justify-content-md-center">
        <form class="form-signin col-sm-4" action="/Home/Login" method="post" onsubmit="ShowSpinner()">
        <h1><br />GEM</h1>  
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Endereço de Email</label>
            <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Endereço de Email" required autofocus>
        </div>

        <div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="Senha" class="form-control" placeholder="Password" required>
        </div>
        
        
        <input type="hidden" name="callback" value="@(ViewBag.callback)" />
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Lembrar senha
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block form-group" type="submit">Entrar</button>
        <div class="checkbox mb-3"> <a href="/Home/LembrarSenha">Esqueci minha senha</a> </div>
        <div class="checkbox mb-3"> <a href="/Home/SolicitarConvite">Solicitar um convite de acesso</a> </div>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(()=>{
            if (localStorage.getItem('UserSession')) {
                rsp.post({ sessao: JSON.parse(localStorage.getItem('UserSession'))  }, "/Home/UpdateSession", (res) => {
                    if (res == "ok") {
                        window.location.href = "/Home/Index";
                    }
                });
            }
        });
    </script>
}

