@*using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor*@
@{
    ViewBag.Title="CCB";
    Layout = "~/Views/Shared/_Layout.anonymous.cshtml";
    @*boolbool isHttps = HttpContextAccessor.HttpContext.Request.IsHttps;*@
}

<div class="row justify-content-md-center">
        <form class="form-signin col-sm-4" action="/Home/Login" method="post" onsubmit="ShowSpinner()">
        <h1><br />Músicos CCB</h1>  
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Endereço de Email</label>
            <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Endereço de Email" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" name="Senha" class="form-control" placeholder="Password" required>
        </div>
        
        
        <input type="hidden" name="callback" value="@(ViewBag.callback)" />
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Lembrar senha
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block form-group" type="submit">Entrar</button>
        <div class="checkbox mb-3"> <a href="/Home/LembrarSenha">Esqueci minha senha</a> </div>
        <div class="checkbox mb-3"> <a href="/Home/SolicitarConvite">Solicitar um convite de acesso</a> </div>
        @*if(!isHttps){
            <div class="checkbox mb-3"> <a href="https://www.musicosccb.com.br">Acessar este site em modo seguro</a> </div>
        }*@
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(()=>{
            if (localStorage.getItem('Token')) {
                rsp.post({ token: localStorage.getItem('Token')  }, "/Home/UpdateSession", (res) => {
                    if (res == "ok") {
                        window.location.href = "/Home/Index";
                    }else{
                        localStorage.setItem('Token', "");
                    }
                });
            }
        });
    </script>
}

