@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Última atualização: janeiro de 2020.</p>

<h2>Geral</h2>
<p>A paz de Deus.</p>
<p>Nós do Músicos CCB, respeitamos muito a sua privacidade, estamos comprometidos a protegê-la e queremos que você esteja ciente das maneiras pelas quais protegemos, utilizamos e compartilhamos as informações que coletamos.</p>
<p>O objetivo deste sistema é facilitar o acesso e armazenamento de informações que auxiliem o GEM</p>
<p>O sistema armazena cookies de login apenas para facilitar a próxima sessão evitando a necessidade de a todo momento preencher usuário e senha</p>
<p>Toda informação está limitada a uma Comum Congregação, não sendo possível compartilhamento de dados. Apenas é possível migrar dados e histórico de uma congregação para outra.</p>