@{
    ViewBag.Title="CCB";
    Layout = "~/Views/Shared/_Layout.anonymous.cshtml";
}

@if(ViewBag.success == null){
    <div class="row justify-content-md-center">
        <form class="form-signin col-sm-4" action="/Home/SolicitarConvite" method="post" onsubmit="ShowSpinner()">
            
                <h1>GEM</h1>
                <label>
                    A paz de Deus instrutor(a)! <br /><br />
                    Para utilizar este sistema primeiro solicite um convite informando os dados abaixo e aguarde
                    o email para cadastro! 
                </label>
                <div class="form-group">
                    <label for="inputNome" >Nome</label>
                    <input type="text" id="inputNome" name="Nome" class="form-control" placeholder="Nome" required>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="email@servidor.com" required>
                </div>
                <div class="form-group">
                    <label for="inputComum" >Comum Congreção</label>
                    <input type="text" id="inputComum" name="Comum" class="form-control" placeholder="ex. Brás, Vila Ana, Jardim Renata" required>
                </div>
                <div class="form-group">
                    <label for="inputComum" >Cidade</label>
                    <input type="text" id="inputComum" name="Cidade" class="form-control" placeholder="ex. Campinas, São Caetano, Curitiba" required>
                </div>
                <div class="form-group">
                    <label for="inputComum" >Estado</label>
                    <input type="text" id="inputComum" name="Estado" class="form-control" placeholder="ex. São Paulo, Minas Gerais, Paraná" required>
                </div>

                <button class="btn btn-lg btn-primary btn-block form-group" type="submit">Enviar Solicitação</button>
            
        </form>
    </div>
}
