@using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Grupo";
    UserSession sessao = UserSession.Get(HttpContextAccessor.HttpContext);
    int DefaultComum = sessao.UserLogged? sessao.Usuario.Cod_Comum : 0;
}

<h2>Grupos</h2>

@if(sessao.Admin){
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">Comum Congregação</label>
            @await Html.PartialAsync("~/Views/Shared/_Combo.cshtml", new GEM.Models.Combo(){
                Class="form-control",
                Name="Cod_Comum",
                OnChange="ComumChange(this)",
                Items=GEM.Repository.Comum.List().Select(e=>new ComboItem(){Text=e.Nome,Value=e.Cod_Comum.ToString()}).ToList(),
                SelectedItem=(ViewBag.Cod_Comum != null ? ViewBag.Cod_Comum.ToString() : DefaultComum.ToString())
            })
        </div>  
    </div>
}

@if(sessao.Instrutor){
<p>
    <button type="button" class="btn btn-sm btn-secondary" onclick="Edita({})">
        <i class="fas fa-plus"></i> Novo
    </button>
</p>
}

<div id="ListaGrupos">
    Carregando ...
</div>

@if(sessao.Instrutor){
<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="EditaGrupo" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="Grava()">Gravar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="RemoverGrupoId" />
                Tem certeza que deseja remover um registro da tabela Grupo?<br />
                Nome: <span id="RemoverGrupo"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fechar</button>
                <button type="button" class="btn btn-danger" onclick="Remove()">  Apagar</button>
            </div>
        </div>
    </div>
</div>
}

@section Scripts{
    <script type="text/javascript">
        let Cod_Comum = @(DefaultComum);
        $(document).ready(() => {
            Lista();
        });

        function Lista() {
            rsp.get({ Cod_Comum }, "/Grupo/List/", (res) => {
                $("#ListaGrupos").html(res);
                $("#ListaGrupos .table").DataTable({
                    "pageLength": 100,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    /*"columns": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        { "sType": "date-pt" },
                        null
                    ],*/
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    }
                });
                setTimeout(()=>{
                    $("#DataTables_Table_0_wrapper .col-sm-12").css("overflow", "auto");
                },200);
            });


        }

        function Edita(item) {
            rsp.get(item, "/Grupo/Edit/", (res) => {
                $("#EditaGrupo").html(res);
                $("#modalEdit").modal('show');
                $("#modalEdit .alert").hide();
                //$(".cep").mask("00000-000");
                //$(".cnpj").mask("00.000.000/0000-00");
                //$(".phone").mask("(00)000000009");
            });
        }

        function Grava() {
            rsp.post("#EditaGrupo", "/Grupo/Save", (res) => {
                if (res == "ok") {
                    $("#modalEdit").modal('hide');
                    Lista();
                    showAlert("Grupo gravado(a) com sucesso!", "alert-success");
                } else {
                    $("#modalEdit .alert").html(res);
                    $("#modalEdit .alert").show();
                }
            })
        }

        function DesejaRemover(id, nome) {
            $("#RemoverGrupoId").val(id);
            $("#RemoverGrupo").html(nome);
            $("#modalDelete").modal('show');
        }

        function Remove() {
            rsp.post(null, "/Grupo/Delete/" + $("#RemoverGrupoId").val(), (res) => {
                if (res == "ok") {
                    $("#modalDelete").modal('hide');
                    showAlert("Grupo removido(a) com sucesso!", "alert-success");
                    Lista();
                } else {
                    $("#modalDelete").modal('hide');
                    showAlert(res, "alert-warning");
                }
            })
        }
    </script>
}


