@using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Presenca";
    UserSession sessao = UserSession.Get(HttpContextAccessor.HttpContext);
    int DefaultComum = sessao.UserLogged? sessao.Usuario.Cod_Comum : 0;
}

<h2>Controle de Presença</h2>
<div class="row">
    @if(sessao.Admin){
        <div class="form-group col-sm-6">
            <label class="control-label">Comum Congregação</label>
            @await Html.PartialAsync("~/Views/Shared/_Combo.cshtml", new GEM.Models.Combo(){
                Class="form-control",
                Name="Cod_Comum",
                OnChange="ComumChange(this)",
                Items=GEM.Repository.Comum.List().Select(e=>new ComboItem(){Text=e.Nome,Value=e.Cod_Comum.ToString()}).ToList(),
                SelectedItem=(ViewBag.Cod_Comum != null ? ViewBag.Cod_Comum.ToString() : DefaultComum.ToString())
            })
        </div>  
    }
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <label>Data</label>
        <input type="date" class="form-control" value='@(DateTime.Now.ToString("yyyy-MM-dd"))' onchange="SelecionaData(this)">
    </div>
</div>

<div id="ListaPresencas">
    Selecione uma data para registrar as presenças
</div>

<div class="modal fade" id="modalAula" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aula</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="Aula" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        let Cod_Comum = @(DefaultComum);
        let Data = '@(DateTime.Now.ToString("yyyy-MM-dd"))';
        let Filtro_Presenca = "";
        let Filtro_Usuario = "";
        $(document).ready(() => {
            Lista();
        });

        function SelecionaData(e){
            Data = $(e).val();
        }

        function FiltroPresenca(tipo){
            Filtro_Presenca = tipo;
            Lista();
        }

        function FiltroUsuario(tipo){
            Filtro_Usuario = tipo;
            Lista();
        }

        function Lista() {
            rsp.get(null, "/Presenca/List?Cod_Comum="+Cod_Comum+"&FiltroPresenca="+Filtro_Presenca+"&FiltroUsuario="+Filtro_Usuario+"&Data="+Data, (res) => {
                $("#ListaPresencas").html(res);
                $("#ListaPresencas .table").DataTable({
                    "pageLength": 100,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    /*"columns": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        { "sType": "date-pt" },
                        null
                    ],*/
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    }
                });
                setTimeout(()=>{
                    $("#DataTables_Table_0_wrapper .col-sm-12").css("overflow", "auto");
                },200);
            });
        }

        function RegistraPresenca(Cod_Usuario){
            rsp.post({Cod_Usuario, Data}, "/Presenca/RegistraPresenca", (res)=>{
                if(res=="ok"){
                    Lista();
                }else{
                    showAlert(res, "alert-danger");
                }
            })
        }

        function RegistraAusencia(Cod_Usuario){
            rsp.post({Cod_Usuario, Data}, "/Presenca/RegistraAusencia", (res)=>{
                if(res=="ok"){
                    Lista();
                }else{
                    showAlert(res, "alert-danger");
                }
            })
        }

        /**************************************************************/
        function Aula(Cod_Presenca) {
            rsp.get(null, "/Presenca/Aula?Cod_Presenca="+Cod_Presenca, (res) => {
                $("#Aula").html(res);
                $("#modalAula").modal('show');
                $("#modalAula .alert").hide();
            });
        }

          function AdicionaAula(Cod_Presenca){
                rsp.post("#DadosAula", "/Presenca/AdicionaAula", (res)=>{
                if(res=="ok"){
                    $("#modalAula .alert").hide();
                    Aula(Cod_Presenca);
                }
                else{
                    $("#modalAula .alert").html(res);
                    $("#modalAula .alert").show();
                }
                })
            }

            function RemoveAula(Cod_Presenca, Cod_Estudo){
                rsp.post({Cod_Estudo}, "/Presenca/RemoveAula", (res)=>{
                if(res=="ok"){
                    $("#modalAula .alert").hide();
                    Aula(Cod_Presenca);
                }
                else{
                    $("#modalAula .alert").html(res);
                    $("#modalAula .alert").show();
                }
                })
            }
    </script>
}


