@using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Controle de presença";
    UserSession sessao = UserSession.Get(HttpContextAccessor.HttpContext);
    int DefaultComum = sessao.UserLogged? sessao.Usuario.Cod_Comum : 0;
}

<h2>Controle de Presença</h2>
<div class="row">
    @if(sessao.Admin){
        <div class="form-group col-sm-4">
            <label class="control-label">Comum Congregação</label>
            @await Html.PartialAsync("~/Views/Shared/_Combo.cshtml", new GEM.Models.Combo(){
                Class="form-control",
                Id="Comum",
                Name="Cod_Comum",
                OnChange="SelecionaComum(this)",
                Items=GEM.Repository.Comum.List().Select(e=>new ComboItem(){Text=e.Nome,Value=e.Cod_Comum.ToString()}).ToList(),
                SelectedItem=(ViewBag.Cod_Comum != null ? ViewBag.Cod_Comum.ToString() : DefaultComum.ToString())
            })
        </div>  
    }

    <div class="form-group col-sm-4">
        <label>Grupo</label>
        <div id="FiltroGrupo"></div>
    </div>

    <div class="form-group col-sm-4">
        <label>Data</label>
        <input id="Data" type="date" class="form-control" value='@(GEM.Helpers.Util.BrazilianDatetimeNow().ToString("yyyy-MM-dd"))' onchange="SelecionaData(this)">
    </div>
    
</div>

<div id="ListaPresencas">
    Selecione uma data para registrar as presenças
</div>

<div class="modal fade" id="modalAula" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aula</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="Aula" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHistorico" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Histórico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="Historico" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalJustificativa" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Justificativa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="Justificativa" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="Justificar()">Gravar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        let Cod_Comum = @(DefaultComum);
        let Cod_Grupo = 0;
        let Data = '@(GEM.Helpers.Util.BrazilianDatetimeNow().ToString("yyyy-MM-dd"))';
        let Filtro_Presenca = "";
        let Filtro_Usuario = "";
        $(document).ready(() => {
            Lista();
        });

        function SelecionaComum(e){
            Cod_Comum = $(e).val();
            Lista();
        }

        function SelecionaData(e){
            Data = $(e).val();
            Lista();
        }

        function SelecionaGrupo(e){
            Cod_Grupo = $(e).val();
            Lista();
        }

        function FiltroPresenca(tipo){
            Filtro_Presenca = tipo;
            //Lista();
            Filtro();
        }

        function FiltroUsuario(tipo){
            Filtro_Usuario = tipo;
            //Lista();
            Filtro();
        }

        function Filtro(){

            $(".btn-group .btn").removeClass("btn-dark");
            $(".btn-group .btn").addClass("btn-secondary");

            let sel_id_left = "";
            let sel_id_right = "";

            if(Filtro_Presenca.length==0||Filtro_Presenca=="Todos"){
                sel_id_left = "#btn_todos";
            }

            if(Filtro_Presenca == "Presente"){
                sel_id_left = "#btn_presente";
            }

            if(Filtro_Presenca == "Ausente"){
                sel_id_left = "#btn_ausente";
            }

            if(Filtro_Usuario.length==0||Filtro_Usuario=="Todos"){
                sel_id_right = "#btn_usuarios";
            }

            if(Filtro_Usuario == "Instrutores"){
                sel_id_right = "#btn_instrutores";
            }

            if(Filtro_Usuario == "Alunos"){
                sel_id_right = "#btn_alunos";
            }

            $(sel_id_left).removeClass("btn-secondary");
            $(sel_id_left).addClass("btn-dark");

            $(sel_id_right).removeClass("btn-secondary");
            $(sel_id_right).addClass("btn-dark");

            if((Filtro_Presenca.length==0||Filtro_Presenca=="Todos")&&(Filtro_Usuario.length==0||Filtro_Usuario=="Todos")){
                $(".tr_usuario").show();
            }else{
                $(".tr_usuario").hide();
                $(".tr_usuario").each((index, element)=>{
                    if(Filtro_Presenca.length==0||Filtro_Presenca=="Todos"){
                        if((Filtro_Usuario=="Instrutores" && $(element).hasClass("tr_instrutor"))
                        ||(Filtro_Usuario=="Alunos" && $(element).hasClass("tr_aluno"))){
                            $(element).show();
                        }
                    }
                    else if(Filtro_Usuario.length==0||Filtro_Usuario=="Todos"){
                        if((Filtro_Presenca=="Presente" && $(element).hasClass("tr_presente"))
                        ||(Filtro_Presenca=="Ausente" && $(element).hasClass("tr_ausente"))){
                            $(element).show();
                        }
                    }
                    else{
                        if(
                            (Filtro_Usuario=="Instrutores" && $(element).hasClass("tr_instrutor")&&Filtro_Presenca=="Presente" && $(element).hasClass("tr_presente"))
                            ||(Filtro_Usuario=="Instrutores" && $(element).hasClass("tr_instrutor")&&Filtro_Presenca=="Ausente" && $(element).hasClass("tr_ausente"))
                            ||(Filtro_Usuario=="Alunos" && $(element).hasClass("tr_aluno")&&Filtro_Presenca=="Presente" && $(element).hasClass("tr_presente"))
                            ||(Filtro_Usuario=="Alunos" && $(element).hasClass("tr_aluno")&&Filtro_Presenca=="Ausente" && $(element).hasClass("tr_ausente"))
                        )
                        {
                            $(element).show();
                        }
                    }

                })
            }
        }

        function Lista() {
            rsp.get({ Cod_Comum, Cod_Grupo, Data }, "/Presenca/List", (res) => {

                let Comum_Nome = $("#Comum option:selected").text();
                if(Comum_Nome.length == 0){
                    Comum_Nome = $("#Congregacao").html();
                }
                
                $("#ListaPresencas").html(res);
                $("#ListaPresencas .table").DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'print',
                            className: 'btn btn-secondary fa fa-print',
                            text: '',
                            messageTop: Comum_Nome + " - " + Data.split("-").reverse().join("/"),
                            exportOptions: {
                                columns: [ 0, 1, 2 ]
                            } 
                        },
                        { 
                            extend: 'excel', 
                            className: 'btn btn-secondary fa fa-file-excel-o', 
                            text: '',
                            messageTop: Comum_Nome + " - " + Data.split("-").reverse().join("/"),
                            exportOptions: {
                                columns: [ 0, 1, 2 ]
                            }
                        }
                    ],
                    "pageLength": 100,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    /*"pageLength": 100,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "columns": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        { "sType": "date-pt" },
                        null
                    ],*/
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    }
                });
                setTimeout(()=>{
                    $("#DataTables_Table_0_wrapper .col-sm-12").css("overflow", "auto");
                },200);

                //Filtro();
                rsp.get({ Cod_Comum, Cod_Grupo, DefaultText:"Todos", OnChange : "SelecionaGrupo(this)" }, "/Usuario/ComboGrupo","#FiltroGrupo");
            });
        }

        function RegistraPresenca(Cod_Usuario){
            rsp.post({Cod_Usuario, Data, Cod_Comum}, "/Presenca/RegistraPresenca", (res)=>{
                if(res=="ok"){
                    Lista();
                }else{
                    showAlert(res, "alert-danger");
                }
            })
        }

        function RegistraAusencia(Cod_Usuario){
            rsp.post({Cod_Usuario, Data, Cod_Comum}, "/Presenca/RegistraAusencia", (res)=>{
                if(res=="ok"){
                    Lista();
                }else{
                    showAlert(res, "alert-danger");
                }
            })
        }

        /**************************************************************/
        function Aula(Cod_Presenca, Cod_Usuario, Aluno, Instrumento) {
            rsp.post({Cod_Presenca, Cod_Usuario, Aluno, Instrumento}, "/Presenca/Aula", (res) => {
                $("#Aula").html(res);
                $("#modalAula").modal('show');
                $("#modalAula .alert").hide();
            });
        }

        function Historico(Cod_Usuario, Nome, Instrumento, Aluno){
            rsp.post({Cod_Usuario, Nome, Instrumento, Aluno, Cod_Comum}, "/Presenca/Historico", (res)=>{
                $("#Historico").html(res);
                $("#modalHistorico").modal('show');
                $("#modalHistorico .alert").hide();

                $("#Historico .table").DataTable({
                    //"bSort" : false,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'print',
                            className: 'btn btn-secondary fa fa-print',
                            text: '',
                            messageTop: $("#Congregacao").html() + " - " + (Aluno ? "Aluno" : "Instrutor") + " " + Nome + " - " + Instrumento,
                        },
                        { 
                            extend: 'excel', 
                            className: 'btn btn-secondary fa fa-file-excel-o',
                            text: '',
                            messageTop: $("#Congregacao").html() + " - " + (Aluno ? "Aluno" : "Instrutor") + " " + Nome + " - " + Instrumento,
                        }
                    ],
                    "pageLength": 100,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "columns": [
                        { "sType": "date-pt" },
                        null,
                        null,
                        null,
                        null
                    ],
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                    }
                });
            })
        }

        function AdicionaAula(Cod_Presenca, Cod_Usuario){
            rsp.post("#DadosAula", "/Presenca/AdicionaAula", (res)=>{
            if(res=="ok"){
                $("#modalAula .alert").hide();
                Aula(Cod_Presenca, Cod_Usuario);
            }
            else{
                $("#modalAula .alert").html(res);
                $("#modalAula .alert").show();
            }
            })
        }

        function RemoveAula(Cod_Presenca, Cod_Usuario, Cod_Estudo){
            rsp.post({Cod_Presenca, Cod_Usuario, Cod_Estudo}, "/Presenca/RemoveAula", (res)=>{
            if(res=="ok"){
                $("#modalAula .alert").hide();
                Aula(Cod_Presenca, Cod_Usuario);
            }
            else{
                $("#modalAula .alert").html(res);
                $("#modalAula .alert").show();
            }
            })
        }

        function Justificativa(Cod_Usuario, Nome, Instrumento) {
            rsp.post({Cod_Usuario, Data, Nome, Instrumento, Cod_Comum}, "/Presenca/Justificativa/", (res) => {
                $("#Justificativa").html(res);
                $("#modalJustificativa").modal('show');
                $("#modalJustificativa .alert").hide();
                //$(".cep").mask("00000-000");
                //$(".cnpj").mask("00.000.000/0000-00");
                //$(".phone").mask("(00)000000009");
            });
        }

        function Justificar() {
            rsp.post("#Justificativa", "/Presenca/Justificar", (res) => {
                if (res == "ok") {
                    $("#modalJustificativa").modal('hide');
                    Lista();
                    showAlert("Falta Justificada com sucesso!", "alert-success");
                } else {
                    $("#modalJustificativa .alert").html(res);
                    $("#modalJustificativa .alert").show();
                }
            })
        }
    </script>
}


