
@{
    ViewBag.Title = "Impersonate";
}

<h2>Impersonate</h2>

<form action="/Usuario/Impersonate" method="post">
    <div class="row">
        <div class="col-sm-8 form-group">
            <label class="col-sm-2 col-form-label">Email</label>
            <input type="email" class="form-control" name="Email" autofocus />
        </div>
        <div class="col-sm-8">
            <input type="submit" value="Acessar" class="btn btn-primary" />
        </div>
    </div>
</form>
